body
{
	background: #191818;
	font-family: 'Open Sans Semibold', sans-serif;
}

html, body, .container-fluid, .row-fluid, #sidebar
{
	height: 100%;
}

.container-fluid
{
	padding: 0;
}

#main > .row-fluid
{
	margin-right: -200px;
	background-color: #fff;
}

#item-list
{
	margin-left: 180px;
	padding: 14px 20px 20px 20px;
	background-color: #fff;
}

#sidebar
{
	position: fixed;
	float: left;
	width: 180px;
	background-color: #191818;
	border-right: 10px #eee solid;
}

#sidebar-content
{
	padding-top: 20px;
}

#sidebar-footer
{
	position: absolute;
	bottom: 15px;
	width: 180px;
	text-align: center;
}

#sidebar-footer a.muted, #sidebar-footer a.muted:visited, #sidebar-footer a.muted:active
{
	color: #333;
}

#sidebar-footer a.muted:hover
{
	color: #6a6a6a;
	text-decoration: none;
}

#force-update
{
	margin-bottom: 10px;
}

.btn-custom
{
	color: #fff;
	background-image: none;
	background-color: #c9320f;
	border: 0;
	text-shadow: none;
	font: 18px/26px 'Open Sans Semibold', sans-serif;
	padding: 8px 20px 8px 20px;
	font-variant: small-caps;
	font-weight: 700;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;

	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.btn-custom:hover, .btn-custom:active
{
	color: #fff;
	background-color: #da3610;

	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.nav
{
	margin-top: 20px;
}

.nav > li a
{
	padding-left: 25px;
	color: #6a6a6a;
	font: 18px/26px 'Open Sans', sans-serif;

	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.nav > li a:hover
{
	background-color: #222;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus
{
	background-color: #222;
	color: #d7d7d7;
}

.table
{
	table-layout: fixed;
	width: 98%;
	margin-left: 1%;
}

.table th, .table td
{ 
	border: 1px transparent solid;
	border-left: 4px transparent solid;
}

.table td:first-child
{
	-webkit-border-radius: 10px 0 0 10px;
	   -moz-border-radius: 10px 0 0 10px;
	        border-radius: 10px 0 0 10px;
}

.table td:last-child
{
	-webkit-border-radius: 0 10px 10px 0;
	   -moz-border-radius: 0 10px 10px 0;
	        border-radius: 0 10px 10px 0;
}

.striped > tbody > tr:nth-child(4n+1) > td, .striped > tbody > tr:nth-child(4n+1) > th
{
	background-color: #f6f6f6;
}

thead
{
	visibility: hidden;
}

.item-star
{
	visibility: hidden;
	cursor: pointer;
}

.starred
{
	visibility: visible;
}

.feed-item:hover .item-star
{
	visibility: visible;
}

.ellipsis
{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a, a:visited, a:active
{
	color: #da3610;
}

a:hover
{
	color: #da3610;
	text-decoration: none;
}

h4
{
	color: #aaa;
}

h4 > a, h4 > a:visited, h4 > a:active
{
	color: #aaa;
}

h4 > a:hover
{
	color: #191818;
}

a#alert-new-items
{
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: center;
}

tr.feed-item-content-row
{
	background-color: #fff;
}

td.align-right
{
	text-align: right;
}

td.feed-item-content
{
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
}

a.accordion-toggle
{
	color: #333;
}

.modal
{
	background-color: #f3f3f3;
	border: 0;

	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

.modal-body > h4, .modal-body
{
	text-align: center;
}

.mini-form
{
	width: 320px;
	margin-left: -160px;
}

.mini-form form
{
	margin: 20px 0 0 0;
}

input, textarea
{
	font-family: 'Open Sans Semibold', sans-serif;
}

.accordion-body
{
	background-color: #fff;
}

h3 a, h3 a:visited, h3 a:active, h3 a:hover
{
	color: #333;
	font: 18px/26px 'Open Sans', sans-serif;
	font-weight: 700;
	border-bottom: 1px #ccc solid;
}
