<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Thomas Hourdel">
		<meta name="robots" content="noindex,nofollow">
		
		<title>Zeta</title>

		<link href="styles/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href="styles/home.css" rel="stylesheet" media="screen">

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon-114.png">
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon-72.png">
		                <link rel="apple-touch-icon-precomposed" href="images/icon-57.png">
		                               <link rel="shortcut icon" href="images/favicon.png">
	</head>

	<body>
