<include href="header.html" />

<div class="container-fluid" id="main">
	<div id="updateModal" class="modal hide fade" tabindex="-1" role="dialog">
		<div class="modal-body">
			<h4>Full update in progress, please wait...</h4>
			<img src="images/loader.gif" alt="" />
		</div>
	</div>

	<div id="sidebar">
		<div id="sidebar-content">
			<div style="text-align:center">
				<a class="btn btn-custom" id="mark-as-read" type="button">mark as read</a>
			</div>

			<ul class="nav nav-pills nav-stacked" id="nav-tabs">
				<check if="{{ @page=='all' }}"><true><li class="active"></true><false><li></false></check>
				<a data-toggle="tab" href="#all">all items</a></li>
				<check if="{{ @page=='unread' }}"><true><li class="active"></true><false><li></false></check>
				<a data-toggle="tab" href="#unread">unread <small id="unread-count">(0)</small></a></li>
				<check if="{{ @page=='starred' }}"><true><li class="active"></true><false><li></false></check>
				<a data-toggle="tab" href="#starred">starred</a></li>
			</ul>

		</div>
		<div id="sidebar-footer">
			<check if="{{ @force_update }}">
				<true>
					<div style="text-align:center">
						<a class="btn btn-custom" id="force-update" type="button">force update</a>
					</div>
				</true>
			</check>

			<a class="muted" href="https://github.com/Chman/Zeta">zeta</a> &middot; <a class="muted" href="{{ @base }}/logout">logout</a>
		</div>
	</div>

	<div class="row-fluid">
		<div id="item-list">
			<div id="notifications">
			</div>

			<table class="table striped">
				<thead>
					<tr>
						<th width="20px"></th>
						<th width="15%"></th>
						<th></th>
						<th width="95px"></th>
						<th width="16px"></th>
						<th width="16px"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<div style="text-align:center">
				<a class="btn btn-custom hide" id="load-more" type="button">load more</a>
				<img class="hide" id="loading-animation" src="images/loader.gif" alt="Loading..." />
				<h4 class="hide">No more items.</h4>
			</div>
		</div>
	</div>
</div>

<include href="footer.html" />
