		<include href="header.html" />

		<div id="updateModal" class="modal mini-form">
			<div class="modal-body">
				<form id="password-form" method="post" action="{{ @base }}/password">
					<fieldset>
						<p><input type="password" name="inputPassword" placeholder="type your password"></p>
						<p><input type="text" id="inputHash" name="inputHash" placeholder="the hash will appear here"></p>
						<p><button class="btn btn-custom" type="submit">generate</button></p>
					</fieldset>
				</form>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script>
			$(document).ready(function()
			{
				$('#password-form').submit(function(e)
				{
					e.preventDefault();

					$.ajax(
					{
						url: $(this).attr('action'),
						type: 'POST',
						data: $(this).serialize(),
						dataType: 'html',
						success: function(data)
						{
							$('#inputHash').val(data);
							$('#inputHash').select();
						}
					});
				});
			});
		</script>
	</body>

</html>
